<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

<body>

  <%- include('layouts/navbar'); -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About</h1>
            <span class="subheading">Share about your Favorite Places to the world And know about more places from posts of other users.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        Share about your Favorite Places to the world And know about more places from posts of other users.
      </div>
    </div>
  </div>

  <hr>

  <%- include('layouts/footer'); -%>

  <%- include('layouts/scripts'); -%>



</body>

</html>
